<div class="cover-section-box pure-u-lg-1-1">
  <div class="main-section-box pure-u-lg-1-1">
    <div class="pure-u-lg-1-1 subtitle">
      <h1 class="floating">KATHERINE DIANA</h1>
      <h4>Professionally trained Frontend Developer and UX Designer</h4>
    </div>

    <div class="article-box pure-u-lg-1-2 pure-u-1-2 pure-u-1">
      <h3>WIZZARDING WORD IS STUNNED BY UPCOMING TALENT</h3>

      <div class="articel-text pure-u-lg-1-2 pure-u-md-1-2 pure-u-1">
        <p>
          Creative and ambitious Software Engineer with experience contributing
          to
          <strong>designing</strong>, <strong>developing</strong>, and
          <strong>testing</strong> Web applications using JavaScript-based
          frameworks and tools. I Katherine brings a very good practical
          understanding of Typescript, Angular, and React and a drive to learn
          new programming languages and development tools.I have experience
          collaborating in a deadline-driven environment and
        </p>
      </div>
      <div class="articel-text pure-u-lg-1-2 pure-u-md-1-2 pure-u-1">
        <p style="padding-right: 11%">
          have a talent for design and the visual aspects of web development.
          Having worked in two vastly different branches of IT, that being
          science and FinTech, I’ve learned to be flexible with expectations and
          efficient in my work- and communication methods. I have experience
          working in a small and detail-oriented team and have also worked on
          larger deadline-driven projects. I am very fluent in English, German
          as well as Spanish.
        </p>
      </div>
    </div>

    <div class="pure-u-lg-1-2 pure-u-md-1-2 pure-u-1">
      <div class="magical-cover-img">
        <video loop width=" 90%" height="100%" autoplay muted>
          <source
            src="../../assets/Unbenanntes Video (3).mp4"
            type="video/mp4"
          />
          <source
            src="../../assets/Unbenanntes Video (3).mp4"
            type="video/mp4"
          />
          <source
            src="../../assets/Unbenanntes Video (3).mp4"
            type="video/mp4"
          />
        </video>

      <div class="hidden-wrapper">
        <h3 >WHEN WRITING APPLICATIONS , USER EXPERIENCE AND MAINTAINABILITY ARE MY TOP PRIORITY</h3>
      </div>

      </div>

    </div>
  </div>
  <!-- main-section-box -->
  <div class="wrapper">
    <h3 class="first">WHEN WRITING</h3>

    <h3 class="second">APPLICATIONS , USER EXPERIENCE AND</h3>
    <h3 class="third">MAINTAINABILITY ARE MY TOP PRIORITY</h3>
  </div>
</div>
<!-- cover-section-box -->
