

<div *ngIf="container==='planning'"  id="container">
  <div id="circle">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      width="300px"
      height="300px"
      viewBox="0 0 300 300"
      enable-background="new 0 0 300 300"
      xml:space="preserve"
      style="left: -23%;
      top: -24%;"
    >
      <defs>
        <path
          id="circlePath"
          d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "
        />
      </defs>
      <circle cx="150" cy="100" r="75" fill="none" />
      <g>
        <use xlink:href="#circlePath" fill="none" />
        <text fill="#000">
          <textPath xlink:href="#circlePath">
            PLANNING AND COLLABORATION
          </textPath>
        </text>
      </g>
    </svg>
    <img
      src="../../assets/coding icons/1_e8u6teTHyalPejIBauj4Jw.png"
      class="img-even large-image "
      style="
      width: 15%;
      top: 33%;
      left: 32%;"
    />
    <img src="../../assets/coding icons/Bitbucket-Logo-blue.svg.png"
    class="img-odd small-image"
    style="
    width: 15%;
    top: 12%;
    left: 14%;">
    <img src="../../assets/coding icons/Confluence_Logo.png"
    class="img-even small-image"
    style="
    width: 15%;
    top: 15%;
    left: 22%;">
    <img src="../../assets/coding icons/jira.png"
    class="img-odd large-image"
    style="
    width: 15%;
    top: 18%;
    left: 11%;">
    <img src="../../assets/coding icons/icone-github-rose.png"
    class="img-even large-image"
    style="
    width: 15%;
    top: 23%;
    left: 36%;">
    <img src="../../assets/coding icons/2620849.png"
    class="img-odd large-image"
    style="
    width: 15%;
    top: 23.5%;
    left: 26%;">
    <img src="../../assets/coding icons/websites.png"
    class="img-even large-image"
    style="
    width: -5%;
    top: 33%;
    left: 21%;">
  </div>
</div>

<div *ngIf="container==='programming'" id="container">
  <div id="circle">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      width="300px"
      height="300px"
      viewBox="0 0 300 300"
      enable-background="new 0 0 300 300"
      xml:space="preserve"
      style="left: -23%; top: -24%"
    >
      <defs>
        <path
          id="circlePath"
          d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "
        />
      </defs>
      <circle cx="150" cy="100" r="75" fill="none" />
      <g>
        <use xlink:href="#circlePath" fill="none" />
        <text fill="#000">
          <textPath xlink:href="#circlePath">
            | PROGRAMMING | IMPLEMENTATION
          </textPath>
        </text>
      </g>
    </svg>

    <img
      src="../../assets/coding icons/debugging.png"
      style="top: 9%; left: 24%"
      class="img-even large-image"
    />
    <img
      src="../../assets/coding icons/js.png"
      style="top: 18%; left: 10%"
      class="img-odd large-image"
    />
    <img
      src="../../assets/coding icons/html.png"
      style="top: 18%; left: 19%"
      class="img-even large-image"
    />

    <img
      src="../../assets/coding icons/css3.png"
      class="img-odd large-image"
      style="top: 18%; left: 27%"
    />
    <img
      src="../../assets/coding icons/2689684.png"
      style="top: 18%; left: 35%"
      class="img-even large-image"
    />

    <img
      src="../../assets/coding icons/web-development.png"
      class="img-odd large-image"
      style="top: 29%; left: 13%"
    />
    <img
      src="../../assets/coding icons/coding.png"
      class="img-even large-image"
      style="top: 35%; left: 20%"
    />

    <img
      src="../../assets/coding icons/cleancode.png"
      class="img-odd large-image"
      style="top: 29.5%; left: 30%"
    />
  </div>
</div>

<div *ngIf="container==='webstuff'" id="container">
  <div id="circle">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      width="300px"
      height="300px"
      viewBox="0 0 300 300"
      enable-background="new 0 0 300 300"
      xml:space="preserve"
      style="left: -23%; top: -24%"
    >
      <defs>
        <path
          id="circlePath"
          d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "
        />
      </defs>
      <circle cx="150" cy="100" r="75" fill="none" />
      <g>
        <use xlink:href="#circlePath" fill="none" />
        <text fill="#000">
          <textPath xlink:href="#circlePath">
            WEB DEVELOPMENT | FRAMEWORKS |
          </textPath>
        </text>
      </g>
    </svg>

    <img
      class="img-even larger-image"
      src="../../assets/coding icons/typescript.png"
      style="top: 10%; left: 20%"
    />
    <img
      class="img-odd larger-image"
      src="../../assets/coding icons/angular-icon-logo.png"
      style="top: 15%; left: 12%"
    />

    <img
      class="img-random larger-image"
      src="../../assets/coding icons/39895671.png"
      style="top: 16%; left: 19%"
    />

    <img
      class="img-even larger-image"
      src="../../assets/coding icons/chsi.png"
      style="top: 26%; left: 10%"
    />
    <img
      class="img-odd large-image"
      src="../../assets/coding icons/JasmineJS.svg"
      style="top: 28%; left: 18%"
    />

    <img
      class="img-random large-image"
      src="../../assets/coding icons/mocha-logo.png"
      style="top: 33%; left: 13%"
    />
    <img
      class="img-even large-image"
      src="../../assets/coding icons/jquery.png"
      style="top: 13%; left: 32%"
    />

    <img
      class="img-odd large-image"
      src="../../assets/coding icons/spring-boot-logo-png-4-transparent.png"
      style="top: 9%; left: 25%"
    />
    <img
      class="img-random large-image"
      src="../../assets/coding icons/2560px-Sass_Logo_Color.svg.png"
      style="top: 23%; left: 31%"
    />
    <img
      class="img-even larger-image"
      src="../../assets/coding icons/Bootstrap_logo.svg.png"
      style="top: 30%; left: 36%"
    />
    <img
      class="img-odd large-image"
      src="../../assets/coding icons/Tailwind_CSS_logo.svg.png"
      style="top: 37%; left: 23%"
    />
  </div>
</div>

